---
import Layout from "@/layouts/Layout.astro";
import { profile } from "@/settings";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";

const { research_areas } = profile;
---

<Layout title="Proyectos">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">Cursos</h1>
  </div>
</Layout>
