---
import Layout from "@/layouts/Layout.astro";
import { profile } from "@/settings";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";
import Lyapunov3DScene from "../components/Lyapunov3DScene";

const { research_areas } = profile;
---

<Layout title="El Fractal de Lyapunov">
    <div
      style={{
        display: 'flex',
        flexDirection: 'column',
        alignItems: 'center',   // centra horizontalmente
        justifyContent: 'center', // centra verticalmente si le das height
        minHeight: '100vh',     // opcional: centra verticalmente en pantalla
        textAlign: 'center'     // centra el texto del h1
      }}
    >
      <h1 style={{ fontSize: '1.875rem', fontWeight: 'bold', marginBottom: '1rem' }}>
        El Fractal de Lyapunov utilizando Shaders (versión en 3D)
      </h1>
  
      <Lyapunov3DScene client:only="react" />
    </div>
  </Layout>
  


En el Fractal de Lyapunov podemos visualizar el exponente de Lyapunov para el modelo logístico.. 