---
import Layout from "@/layouts/Layout.astro";
import { profile } from "@/settings";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";
import MyScene from "../components/MyScene";

const { research_areas } = profile;
---

<Layout title="El Fractal de Lyapunov">


<h1 class="text-3xl font-bold mb-4">El Fractal de Lyapunuv utilizando Shaders (versión en 2D)</h1>
<br>
<p class="text-justify">
  Los shaders son programas de alto rendimiento que se ejecutan en paralelo para cada fragmento de píxel en la unidad de 
  procesamiento gráfico (GPU). Gracias a su capacidad de cálculo masivo, permiten generar en tiempo real efectos visuales 
  complejos y artísticos, lo que ha revolucionado no solo la industria de los videojuegos, sino también campos como la 
  visualización científica, las simulaciones y el aprendizaje automático, donde se utilizan para acelerar el procesamiento 
  de imágenes y datos. El desarrollo de shaders requiere conocimientos de programación gráfica en lenguajes especializados 
  como GLSL (OpenGL Shading Language), cuya sintaxis es similar a la de C/C++.  
  <br><br>
  En este proyecto desarrollamos una herramienta interactiva en donde abordamos un problema clásico de la teoría de sistemas 
  dinámicos: la visualización de las regiones de estabilidad y caos en el modelo logístico con forzamiento periódico. Mediante 
  shaders, representamos en 2D y 3D las zonas que exhiben comportamientos estables y caóticos, determinadas a partir del cálculo 
  del exponente de Lyapunov. Esto no solo facilita la comprensión de fenómenos complejos, sino que también demuestra el potencial 
  de los shaders en aplicaciones científicas y técnicas avanzadas.
</p>

<br>
<MyScene client:load/>

</Layout>
En el Fractal de Lyapunov podemos visualizar el exponente de Lyapunov para el modelo logístico.. 