---
import Layout from "@/layouts/Layout.astro";
import { profile } from "@/settings";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";
import MyScene from "../components/MyScene";

const { research_areas } = profile;
---

<Layout title="El Fractal de Lyapunov">

  <h1 class="text-3xl font-bold mb-4">El Fractal de Lyaponuv</h1>

<MyScene client:load/>

</Layout>
