---
import Layout from "@/layouts/Layout.astro";
import { profile } from "@/settings";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import Grid from '@/components/ui/Grid.astro'
import {RESEARCH_ICONS} from "@/data/researchIcons";
import MyScene from "../components/Lyapunov2DScene";

const { research_areas } = profile;
---

<Layout title="Proyectos">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-4">Proyectos</h1>

    
    <ul class="list-disc list-inside space-y-2">
      <li>
        <a
          href="/proyecto_lyapunov/"
          class="text-blue-600 hover:underline"
          data-astro-prefetch
        >
          Visualización del Fractal de Lyapunov utilizando React-Three-Fiber (R3F)  y Shaders 
        </a>
       </li>

       <li>
        <a
          href="/proyecto_pi/"
          class="text-blue-600 hover:underline"
          data-astro-prefetch
        >
          Visualización de los Dígitos de Pi 
        </a>
       </li>

       <li>
        <a
          href="/proyecto_clifford/"
          class="text-blue-600 hover:underline"
          data-astro-prefetch
        >
          Atractor de Clifford en una Esfera 
        </a>
       </li>

       <li>
        <a
          href="/proyecto_complejos/"
          class="text-blue-600 hover:underline"
          data-astro-prefetch
        >
          Visualización de Funciones de Números Complejos 
        </a>
       </li>

       <li>
        <a
          href="/proyecto_p5js/"
          class="text-blue-600 hover:underline"
          data-astro-prefetch
        >
          Arte generativo utilizando p5js 
        </a>
       </li>

       <li>
        <a
          href="/proyecto_fractales_urbanos/"
          class="text-blue-600 hover:underline"
          data-astro-prefetch
        >
          Fractales Urbanos 
        </a>
       </li>

    </ul>
  </div>
</Layout>
